.deck {
    &__title{
        padding: 0.5rem;
        font-size: 1.5rem;
        margin-top: 76px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        height: 144px;
        &--big{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            gap: 11rem;
        }
    }
}