@font-face {
    font-family: 'Helmet Neue';
    src: url('../assets/fonts/HelmetNeue-Regular.woff2') format('woff2'),
        url('../assets/fonts/HelmetNeue-Regular.woff') format('woff'),
        url('../assets/fonts/HelmetNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

