.page__layout{
 margin-top: 76px;
}

.input{
    &__name{

        border: none;
        font-size: 2rem;
        outline: none;
        padding: 1rem 0;
    }

    &__container{
        display: flex;
        gap: 1rem;
        align-items: center;
    }
}

