@import "./styles/fonts";
@import "./styles/variables";

*{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: "Helmet Neue";
    
}
html{
    background-color: $background-one;
}